body {
  /* padding: -50px; */
  margin: 10px;
  background-color: white;
  background-image: url("../images/photo5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
color: #CDCDCD;
border: 7px solid #D25773;
width: 160px;
}
.socialmedia ul li {
display: inline-block;
}
.socialmedia li{
  float: right;
  padding: 10px;
 margin-bottom: -50px;
 color: #CDCDCD;
 /* background-color: white; */

}
.navbarcontent ul li {
text-decoration: none;
list-style: none;
/* margin-right:100px; */
}
.navbarcontent ul li a {
  text-decoration: none;
  text-decoration-style:solid;
  font-size: 25px;
  margin-left: -205px;

}
.pages li{
  /* border: 4px solid #CDCDCD; */
  /* width: 50px; */
  background-color: Transparent;
  margin-top: -430px;
  padding:225px;

}

header {
  /* background-image: linear-gradient(rgba(0,0,5, 0.5), rgba(0,0,5, 0.5)), url("../images/NewYork.jpeg"); */
  background-color: rgba(0,0,0,0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
.text{
  border: 3px Transparent;
  width: 100%;
  position: center;
border-width:50%;
/* border-spacing: 40px; */
border-left-width: 200px;
}
.Mission{
  color: #CDCDCD;
  text-align: center;
  font-size: 25px;
  padding-top: 160px;
}
.MSVS {
  text-align: center;
  color: #CDCDCD;
}
.Vision{
  color: #CDCDCD;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

main h2{
  text-align: center;
  color: #D25773;
  background-color: Transparent;
  font-size: 30px;
}
main {
  /* background-image: url("../images/ScreenShot .png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.Why {
  background-color: #D25773;
  padding: 25px;
  margin:19px;
}
.Testimonials {
  background-color: #D25773;
  padding: 25px;
  margin: 19px;
}
